table
  position: relative
  margin: 64px auto 0 auto
  border-collapse: separate
  border-spacing: 0
  border:
    width: 16px
    style: solid
    color: transparent
  border-image: inline-image("test/bottle.png") 16 stretch
  &::before
    content: ''
    position: absolute
    top: -80px
    left: 50%
    margin-left: -48px
    width: 96px
    height: 80px
    background-image: inline-image("test/bottle-top.png")
    background-position: center center
    background-repeat: no-repeat

td
  width: 14px
  height: 14px
  border: 1px solid transparent
  background:
    color: #000000
    size: 100% 100%
    repeat: no-repeat
  +crisp-resizing
  &.virus
    @each $color in "blue", "red", "yellow"
      &.#{$color}
        // .tick &
        $image_url: "test/virus-#{$color}-1.png"
        background-image: inline-image($image_url)
        .tock &
          $image_url: "test/virus-#{$color}-2.png"
          background-image: inline-image($image_url)
  &.pill
    @each $color in "blue", "red", "yellow"
      &.#{$color}
        $image_url: "test/pill-#{$color}-round.png"
        background-image: inline-image($image_url)
        @each $direction in "left", "down", "right", "up"
          &.#{$direction}
            $image_url: "test/pill-#{$color}-#{$direction}.png"
            background-image: inline-image($image_url)
