table.game-state
  margin: 64px auto 0 auto
  position: relative
  border-collapse: separate
  border-spacing: 0
  background-color: #000000
  border:
    width: 16px
    style: solid
    color: transparent
    image: inline-image("test/bottle.png") 16 stretch

  &::before
    content: ''
    position: absolute
    top: -80px
    left: 50%
    margin-left: -48px
    width: 96px
    height: 80px
    background:
      image: inline-image("test/bottle-top.png")
      position: center center
      repeat: no-repeat

  $pill-colors: "blue", "red", "yellow"
  $pill-directions: "left", "down", "right", "up"

  td
    width: 14px
    height: 14px
    border: 1px solid transparent
    background:
      size: 100% 100%
      repeat: no-repeat
    +crisp-resizing

    &.marked
      @each $color in $pill-colors
        &.#{$color}
          $image_url: "test/pill-#{$color}-clear.png"
          background-image: inline-image($image_url)

    &.pill
      @each $color in $pill-colors
        &.#{$color}
          $image_url: "test/pill-#{$color}-round.png"
          background-image: inline-image($image_url)
          @each $direction in $pill-directions
            &.#{$direction}
              $image_url: "test/pill-#{$color}-#{$direction}.png"
              background-image: inline-image($image_url)

    &.virus
      @each $color in $pill-colors
        &.#{$color}
          $image_url: "test/virus-#{$color}-1.png"
          background-image: inline-image($image_url)

  &.tock td.virus
    @each $color in $pill-colors
      &.#{$color}
        $image_url: "test/virus-#{$color}-2.png"
        background-image: inline-image($image_url)
