// Compass
@import "compass"
@import "compass/reset"
@import "compass/css3"
@import "compass/css3/box-sizing"
@import "compass/css3/user-interface"

// Font
@include font-face("8bit", font-files("PressStart.ttf"))
$base-font-family: "8bit", sans-serif

// Base styles
html
  font-family: $base-font-family
  background-color: #000000
  color: #FFFFFF

body
  @include user-select(none)

#wrap
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

*
  text-transform: uppercase
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-touch-callout: none
  @include box-sizing(border-box)

button, input
  margin: 0
  padding: 0
  font-family: $base-font-family

@import "modules"
