#game li.player

  &
    display: table-cell
    text-align: center
    vertical-align: middle

  .player-wrapper
    position: relative
    margin: 0 auto
    width: 320px
    height: 320px

    .player-state
      position: absolute
      bottom: 0
      left: 0

    .player-up-next
      position: absolute
      top: 0
      right: 0

    .player-scoreboard
      position: absolute
      bottom: 0
      right: 0
