.player-scoreboard

  $clipboard-top-width: 52px
  $clipboard-top-height: 26px

  &
    padding: 7px 0 2px 0
    color: black
    font-size: $large-font-size

    background-clip: padding-box
    background-color: #D6D6FF
    +border-image-compat('clipboard-border.png', 16)

  &::before
    content: ''
    position: absolute
    top: -($clipboard-top-height)
    left: 50%
    margin-left: -($clipboard-top-width / 2)
    width: $clipboard-top-width
    height: $clipboard-top-height
    background:
      image: image-url('clipboard-top.png')
      position: center center
      repeat: no-repeat

  dt
    text-align: left
    margin: 2px 0

  dd
    text-align: right
    margin: 5px 0
