.player-matrix
  $pill-size: 14px
  $pill-colors: "blue", "red", "yellow"
  $pill-directions: "left", "down", "right", "up"

  &
    display: table
    border-collapse: separate
    border-spacing: 0

  td
    width: $pill-size
    height: $pill-size
    border: 1px solid transparent
    background:
      color: #000000
      size: 100% 100%
      repeat: no-repeat
    +crisp-resizing

    &.marked
      @each $color in $pill-colors
        &.#{$color}
          $image: 'pill-#{$color}-clear.png'
          background-image: image-url($image)

    &.pill
      @each $color in $pill-colors
        &.#{$color}
          $image: 'pill-#{$color}-round.png'
          background-image: image-url($image)
          @each $direction in $pill-directions
            &.#{$direction}
              $image: 'pill-#{$color}-#{$direction}.png'
              background-image: image-url($image)

    &.virus
      @each $color in $pill-colors
        &.#{$color}
          $image: 'virus-#{$color}-1.png'
          background-image: image-url($image)

      .tock &
        @each $color in $pill-colors
          &.#{$color}
            $image: 'virus-#{$color}-2.png'
            background-image: image-url($image)
