figure.player-state

  $bottle-top-width: 96px
  $bottle-top-height: 80px

  &
    +border-image-compat('bottle-border.png', 16)

  &::before
    content: ''
    position: absolute
    top: -($bottle-top-height)
    height: $bottle-top-height
    left: 50%
    width: $bottle-top-width
    margin-left: -($bottle-top-width / 2)

    background:
      image: image-url('bottle-top.png')
      position: center center
      repeat: no-repeat
